<component name="libraryTable">
  <library name="spring-core-5.3.25-SNAPSHOT">
    <CLASSES>
      <root url="jar://$USER_HOME$/Library/CloudStorage/OneDrive-个人/图灵学院/Spring/spring-framework-5.3.25-SNAPSHOT/libs/spring-core-5.3.25-SNAPSHOT.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>