<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <bean class="com.grey.bean.User" id="user6">
        <property name="id" value="1"></property>
        <property name="username" value="徐庶"></property>
        <property name="realname" value="吴彦祖"></property>
    </bean>


</beans>