<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean class="com.grey.bean.User" id="user" name="user01 user02,user03;user04" lazy-init="true">
        <description>用来描述一个Bean是干嘛的</description>
    </bean>

    <alias name="user01" alias="user05" />

    <bean class="com.grey.bean.User" id="user06"  lazy-init="true">
        <property name="id" value="1"/>
        <property name="username" value="zhangsan"/>
        <property name="realname" value="张三"/>
    </bean>

    <bean class="com.grey.bean.User" id="user07"  lazy-init="true">
        <constructor-arg name="id" value="1"/>
        <constructor-arg name="username"  value="zhangsan"/>
        <constructor-arg name="realname"  value="张三"/>
    </bean>


    <bean id="user08" class="com.grey.bean.instantiate.UserFactory" factory-method="getUserBean" lazy-init="true"/>


    <bean id="userBeanFactory" class="com.grey.bean.instantiate.UserFactory" lazy-init="true"/>
    <bean id="user09" factory-bean="userBeanFactory"  factory-method="getUserBean">
           <constructor-arg name="id" value="1"/>
           <constructor-arg name="username" value="lisi"/>
           <constructor-arg name="realname" value="李四"/>
    </bean>


    <bean id="user10" class="com.grey.bean.instantiate.UserBeanFactoryImpl" lazy-init="true"/>



    <bean id="person01" class="com.grey.bean.Person" lazy-init="true">
        <property name="id" value="1"/>
        <property name="name"><null/></property>
        <property name="birthday" value="2020/05/20"/>

        <property name="wife">
            <bean class="com.grey.bean.Wife" >
                <property name="age" value="18"/>
                <property name="name" value="迪丽热巴"/>
            </bean>
        </property>

        <property name="hobbies">
            <list>
                <value>唱歌</value>
                <value>跳舞</value>
            </list>
        </property>

        <property name="course" >
            <map>
                <entry key="1" value="语文"> </entry>
                <entry key="2" value="数学"> </entry>
            </map>
        </property>

    </bean>



        <bean id="wife01" class="com.grey.bean.Wife"   p:age="21" p:name="迪丽热巴" lazy-init="true"/>
   <!-- <bean id="wife02" class="com.grey.bean.Wife"   c:age="20" c:name="xxx"/>-->


    <bean id="person02" class="com.grey.bean.Person"  autowire="byName" lazy-init="true"/>
    <bean id="person03" class="com.grey.bean.Person"  autowire="byType" lazy-init="true"/>
    <bean id="person04" class="com.grey.bean.Person"  autowire="constructor" lazy-init="true"/>


    <bean id="person05" class="com.grey.bean.Person"  lazy-init="true"  scope="prototype"/>


    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <array>
                <value>classpath:db.properties</value>
            </array>
        </property>
    </bean>

    <!--配置第三方bean-->
    <bean class="com.alibaba.druid.pool.DruidDataSource" id="dataSource">
        <property name="username" value="${mysql.username}"/>
        <property name="password" value="${mysql.password}"/>
        <property name="url"  value="${mysql.url}"/>
        <property name="driverClassName" value="${mysql.driverClassName}"/>
    </bean>

</beans>